:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
.gallery-page {
  width: 100%;
  max-width: 1500px; 
  margin: auto;
  padding: 20px;
  text-align: center;
}

.gallery {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.gallery img:hover {
  transform: scale(1.06);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.7);
}

@media (max-width: 700px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
h3 {
  font-size: 2.2em;
  line-height: 1.1;
}

.image-details {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.image-large {
  width: 500px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

